.container{
    display: flex;

    height: 95vh;
    background-color: lightgray;

    gap: 1rem;
}

aside{
    background-color: blue;
    flex-basis: 25%;
}

main{
    background-color: red;
    flex-grow: 3;
}